
@media (min-width: 576px) {
	.border-right-md-0 {
		border-right: none !important;
	}
}

@media (max-width: 1200px) {


	.episode-author {
		margin-bottom: 15px;
	}

	.section-textual-banner .partnership-card {
		position: static;
		margin: 0 auto 15px auto;
		display: block;
		text-align: center;
		justify-content: center;
	}

	.section-textual-banner .partnership-card p {
		margin: 0;
		padding: 10px 0 5px 0;
	}
}

@media (max-width: 1024px) {
	.banner-grid-content {
		gap: 20px;
		padding: 30px;
		max-width: 550px;
	}
}

@media (max-width: 992px) {

	.section-events{
		padding: 60px 0 20px 0px;
	}

	.section-hero{
		background: url(../img/backgrounds/hero-banner-mobile-3.png) no-repeat center center
	}
	
	

	/* HOMEPAGE */
	.hero-content-wrapper{
		padding: 60px 20px 60px 8%;
		/* background: linear-gradient(to left, #fff0, rgb(0 0 0 / 40%), rgb(0 0 0 / 90%)); */
	}

	.hero-content-wrapper::after{
		right: -100px;
	}

	.section-hero header{
		font-size: 46px;
	}
	.cta-slider-center-content{
		padding: 40px 25px;
	}

	.global-header-padding {
		padding-top: 65px;
	}

	.gallery-image-caption{
		padding: 15px 30px;
	}


	/* ALL ANIMATED ELEMENT VISIBLE */
	.section-els-aims .img-fluid,
	.community-training-element,
	.section-exl-aims .img-fluid,
	.download-ltc-element,
	.section-sls-aims .img-fluid,
	.section-els-experts .els-experts-element,
	.section-exl-pedagogy .img-fluid,
	.section-bluemint-looking-for .img-fluid,
	.section-bluemint-aim .bluemint-aim-element,
	.section-learning-shelf-cards .yls-element-2,
	.section-els-learning-pedagogy .section-background-bars,
	.section-sls-pedagogy .section-background-bars,
	.section-ethics-conclave .tec-bars,
	.section-radio-listing:hover .section-background-bars,
	.section-radio-listing .section-background-bars,
	.cs-about-element-1,
	.section-cs-promise img,
	.dc-assessments-element-2,
	.cs-about-element-2,
	.section-learning-arenas .learning-card-image,
	.tmtc-card-banner img,
	.section-events .upcoming-event-element-1, 
	.section-events .upcoming-event-element-2,
	.section-events:hover .upcoming-event-element-2,
	#coachworks-tabsContent .cw-content-element, 
	#coachworks-tabsContent .cw-content-element-2 {
		opacity: 1;
	}

	.blog-modal-info-wrapper{
		padding: 25px 30px;
	}

	.blog-modal-info-wrapper header{
		max-width: 100%;
	}

	.upcoming-event-element-1{
		margin-bottom: 25px;
	}

	.section-events .upcoming-event-element-2{
		bottom: 0;
		max-width: 25%;
	}

	.learn-now-slider img{
		max-width: 250px;
	}

	.section-learn-now{
		padding: 60px 0 20px 0px;
	}
	.single-learn-now-header{
		font-size: 38px;
		margin-bottom: 35px;
	}

	.single-learn-now-wrapper .col-md-2 span{
		margin-top: 16px;
	}

	.section-trending{
		overflow: hidden;
		padding: 45px 0 20px 0;
	}

	.trending-now-slider-element-1{
		top: 38px;
		max-width: 30px;
	}

	.trending-now-slider-element-2{
		bottom: 0;
		max-width: 125px;
	}

	.section-tmtc{
		background-size: 30px;
		background-position: -5px 47.5px;
	}

	.leadership-element-1{
		top: 0;
	}
	.learning-arenas-element-1{
		left: 30px;
	}
	.learning-arenas-element-2{
		max-width: 150px;
	}

	/* COACHWORKS PAGE */

	#coachworks-tabs{
		overflow-x: auto;
		white-space: nowrap;
		display: inline-block;
	}

	#coachworks-tabs::after{
		display: none;
	}

	#coachworks-tabs li{
		display: inline-block;
	}
	#coachworks-tabsContent{
		margin-top: -7.5px;
		padding: 80px 20px;
	}

	#coachworks-tabsContent .tab-pane{
		padding: 30px;
	}

	.coachwork-section-header-lg{
		font-size: 38px;
	}

	#coachworks-tabsContent .cw-content-element{
		top: 35px;
	}

	#coachworks-tabsContent .cw-content-element-2{
		right: 15px;
		bottom: 30px;
	}

	/* RADIO LISTING PAGES */

	.section-episode-banner,
	.transcript-wrapper {
		width: calc(100% - 40px);
	}

	.section-episode-banner p {
		margin: 0 auto 20px auto;
	}

	.transcript-content-header {
		margin: 30px auto 15px auto;
	}

	.btn-toggle-transcript {
		margin-bottom: 40px;
	}

	.podcast-speed-dropdown {
		transform: translate3d(-120px, -2.5px, 0px) !important;
	}

	.episode-author {
		margin-bottom: 30px;
	}

	/* LEARNING LATITUDES */
	.ll-filters-wrapper {
		flex-wrap: wrap;
		font-size: 14px;
		max-width: calc(100% - 15px) !important;
		padding: 0 !important;
	}

	.webinar-card {
		max-width: 700px;
	}

	.ll-filters-wrapper button,
	.ll-filters-wrapper .custom-dropdown {
		width: calc(50% - 4px);
	}

	.webinar-listing-wrapper .ll-element-1 {
		top: -50px;
	}

	.webinar-listing-wrapper .ll-element-1,
	.webinar-listing-wrapper .ll-element-2 {
		max-width: 32.5%;
	}

	.ll-element-2{
		right: -15px;
	}

	/* ONEDERFUL WORLD START */
	.ow-gallery-top-arrow {
		top: 0 !important;
		max-width: 30%;
	}

	.ow-gallery-bottom-arrow {
		bottom: 0 !important;
		max-width: 30%;
	}

	.ow-network-card-wrapper .section-bg-arrow {
		left: 0 !important;
		max-width: 30px;
	}

	.ow-network-card {
		padding: 30px;
	}

	.section-ow-films {
		background-size: 30px;
	}
	/* ONEDERFUL WORLD ENDS */

	/* GROUP INDUCTION PAGE START */
	.section-gi-aim {
		padding: 40px 0;
		background-size: 30px;
		background-position: -5px 37.5px !important;
	}

	.section-gi-speakers .section-bg-1 {
		top: 95px;
		max-width: 30px;
		right: -5px !important;
	}

	.section-gi-speakers .section-bg-2 {
		top: 795px;
		opacity: 1;
		left: 15px;
	}

	.section-gi-speakers .section-bg-3,
	.section-gi-speakers .section-bg-5 {
		max-width: 30px;
	}

	.section-gi-speakers .section-bg-6 {
		left: 15px;
	}

	/* GROUP INDUCTION PAGE ENDS */

	.section-site-contact header {
		font-size: 38px;
	}

	/* AC DC PAGE START */
	.section-dc-aims {
		padding: 40px 0 30px 0;
	}

	.section-dc-assessments {
		padding: 40px 0 20px 0;
	}
	.dc-assessments-element {
		top: 32.5px;
		max-width: 25px;
	}

	.section-gi-speakers .section-bg-4 {
		right: 5px;
	}

	.section-gi-speakers .section-bg-5 {
		right: -5px;
	}

	.section-gi-speakers .section-bg-6 {
		bottom: 20px;
		opacity: 1;
	}

	.section-dc-methodology {
		padding: 40px 0 50px 0;
	}

	.dc-methodology-pointer-1 {
		max-width: 150px;
		transform: translate(-95px, calc(-50% - 0px));
	}

	.dc-methodology-pointer-2 {
		max-width: 180px;
	}

	/* AC DC PAGE ENDS */

	/* CUSTOM PROGRAMME PAGE */
	.section-cs-stats span {
		font-size: 48px;
	}

	.section-cs-stats p {
		font-size: 16px;
	}

	.section-cs-endorsements {
		padding: 40px 0;
	}

	.endorsements-slide {
		width: calc(100% - 55px);
	}
	/* CUSTOM PROGRAMME PAGE ENDS */

	/* RADIO LISTING */
	.section-radio-listing,
	.section-radio-listing:hover {
		background-size: 30px;
		background-position: 0 calc(50% - 25px);
	}
	/* RADIO LISTING ENDS */

	/* ETHICS CONCLAVE */
	.section-ethics-conclave .tec-d-1 {
		left: 0;
	}

	.teia-2 {
		right: 0;
	}

	/* LIVING THE CODE START */
	.ltc-tabs-content .ltc-tabs-bars {
		opacity: 1;
		right: 15px;
		max-width: 200px;
	}
	/* LIVING THE CODE ENDS */
	/* YOUR LEARNING SHELF START */
	.yls-element-2 {
		top: 515px;
		right: 10px;
	}

	.section-learning-shelf-cards::after {
		border-top: 25px solid transparent;
		border-left: 30px solid#BFAA66;
		border-bottom: 25px solid transparent;
	}
	/* YOUR LEARNING SHELF ENDS */

	/* BLUE MINT PAGE START */
	.section-bluemint-objective {
		padding: 40px 0 30px 0;
		background-size: 35%;
		background-position: 0 100%;
	}

	.bm-objectives-element-1{
		max-width: 200px;
	}

	.section-bluemint-aim {
		padding: 40px 0;
	}

	.section-bluemint-structure {
		background-size: 30px;
		background-position: 0 60px;
	}

	.section-bluemint-outcomes {
		padding: 40px 0 30px 0;
		background-position: 100% 37.5px;
	}

	.section-bluemint-for {
		padding: 50px 0 30px 0;
	}

	.section-bluemint-looking-for {
		padding: 40px 0;
	}

	.section-application-process {
		padding: 40px 0;
	}

	.section-mint {
		padding: 40px 0 30px 0;
	}

	.section-bluemint-approach {
		padding: 40px 0 30px 0;
		background-size: 30px;
		background-position: 0 40px;
	}

	/* BLUE MINT PAGE END */

	/* STRATEGIC LEADERSHIP PAGE START */
	.section-sls-aims {
		padding: 40px 0;
	}

	.section-sls-outcome {
		padding: 40px 0 30px 0;
		background-size: 25px !important;
		background-position: 0 40px !important;
	}

	.section-sls-attend {
		padding: 50px 0 30px 0;
	}

	.section-sls-pedagogy {
		padding: 40px 0 20px 0;
		background-size: 30px !important;
		background-position: 0 40px !important;
	}

	.section-sls-experts {
		padding: 40px 0 30px 0;
	}

	/* STRATEGIC LEADERSHIP PAGE ENDS */

	/* EMERGING LEADERSHIP PAGE START */
	.section-els-aims {
		padding: 40px 0;
		background-size: 35%;
		background-position: 0 100%;
	}

	.section-els-attend {
		padding: 50px 0 40px 0;
	}

	.section-els-outcomes {
		padding: 40px 0 30px 0;
		background-size: 25px !important;
		background-position: 0 42px !important;
	}

	.section-els-learning-pedagogy {
		padding: 40px 0 15px 0;
		background-size: 30px !important;
		background-position: 0 40px !important;
	}

	.section-els-experts {
		padding: 40px 0 55px 0;
		background-size: 30% !important;
	}

	/* EMERGING LEADERSHIP PAGE ENDS */

	/* EXECUTIVE LEADERSHIP PAGE START */
	.section-exl-objective,
	.section-els-objectives,
	.section-sls-objectives {
		padding: 40px 0 35px 0;
	}

    .sls-objectives-element-2{
        max-width: 225px;
    }

	.section-exl-aims {
		padding: 50px 0;
	}

	.section-exl-outcomes {
		padding: 40px 0 30px 0;
		background-size: 25px !important;
		background-position: 0 40px !important;
	}

	.section-exl-attend {
		padding: 50px 0 30px 0;
	}

	.section-exl-pedagogy {
		padding: 40px 0;
		background-size: 30px !important;
		background-position: 0 40px !important;
	}

	.section-els-gallery,
	.section-exl-gallery,
	.section-sls-gallery {
		padding-top: 40px;
	}

	.section-els-tesimonial,
	.section-exl-tesimonial,
	.section-sls-tesimonial,
	.section-pi-testimonial {
		padding: 40px 0 1px 0;
	}

	.section-exl-tesimonial .slick-dots {
		margin: 0;
		top: -10px;
		position: relative;
	}

	.section-els-team,
	.section-exl-team,
	.section-sls-team {
		padding: 40px 0 30px 0;
	}

	/* EXECUTIVE LEADERSHIP PAGE ENDS*/

	/* TBEG PAGE START */

	.tbeg-self-paced-element {
		top: 85px;
		left: 15px;
	}

	.section-tbeg-services {
		background-size: 30px;
		background-position: 100% 40px;
	}

	.section-tbeg-purpose {
		background-position: 0 15px;
		background-size: 30px;
	}

	.section-tbeg-building::after {
		max-width: 30px;
	}

	.tbeg-tab-content-wrapper::before {
		margin-bottom: 30px;
	}

	.tbeg-classroom-element-1 {
		top: 60px;
		left: 15px;
		opacity: 1;
		max-width: 170px;
	}

	.tbeg-classroom-element-2 {
		bottom: 30px;
		right: 17.5px;
	}

	.section-tbeg-contact {
		background-position: 0 50% !important;
	}


	.section-graphical-scribe {
		background-position: 0 67.5px;
	}

	.ltc-pages-navigation,
	.tbeg-pages-navigation {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}

	/* TBEG PAGE ENDS */

	/* SITE HEADER */

	.site-header-logo {
		max-width: 95px;
	}

	.child-menu-container {
		top: 60px;
	}

	.child-menu-list {
		margin: 15px 0 25px 0;
	}

	.site-header-container {
		padding: 0 15px;
		max-width: calc(100% - 30px) !important;
	}
	.site-header-navigaton-list a {
		font-size: 14px;
		padding: 18px 10px;
	}

	a.header-navigation-link {
		padding: 21px 10px;
	}

	.sub-child-menu-list li,
	.sub-child-menu-list.child-menu-2-column li {
		width: 33.33%;
	}

	.sub-child-menu-list.child-menu-2-column {
		width: 100%;
	}

	.sub-child-menu-list {
		padding-left: 15px !important;
	}

	/* HEADER MENU ENDS */

	.page-navigation-list {
		margin: 25px auto 20px auto;
	}

	/* VITALITY PAGE */
	.section-wellness-conversation {
		padding-bottom: 15px;
		background-size: 180px;
	}

	.section-wellness-playlist {
		padding: 40px 0 15px 0;
	}

	.section-wellness-support {
		padding: 40px 0 115px 0;
		background-size: 175px;
	}

	/* VITALITY PAGE ENDS */

	/* LIVING THE CODE PAGE */
	.section-ltc-values {
		padding: 40px 0;
	}

	.section-ltc-purpose {
		padding: 40px 0 20px 0;
	}

	.section-ltc-purpose .shadow-card-content {
		padding: 15px 20px;
	}

	.ltc-tabs-content {
		font-size: 16px;
		letter-spacing: 0.16px;
		padding: 40px 15px 60px 16px;
	}

	.ltc-tabs-content::after {
		background-position: calc(100% - 0px) calc(100% - 30px);
		background-size: 215px !important;
	}

	.section-download-ltc {
		background-size: 40px;
	}

	.section-community-training {
		padding: 40px 0;
		background-size: 40px;
		background-position: 0px 80px;
	}

	.section-awareness-kit {
		padding: 40px 0;
		background-size: 30px;
		background-position: 0 75px;
	}

	.awareness-kit-element-wrapper {
		padding: 25px 0 0 35px;
	}

	.ltc-best-practices-element,
	.ltc-best-practices-element.acr {
		left: 0;
		top: 37.5px;
		max-width: 30px;
	}

	.ethics-survey-wrapper {
		padding: 30px 20px 20px 20px;
	}

	/* LIVING THE CODE PAGE ENDS */

	.section-learning-objectives img {
		opacity: 1;
	}

	.section-learning-objectives .bg-triangle-right {
		right: 0;
	}

	.section-faculty {
		background-position: 5% 115px !important;
	}

	.section-learning-themes {
		padding: 40px 0 30px 0;
		background-position: calc(100% - 20px) calc(100% - 30px);
	}

	.outcome-content {
		max-width: 100%;
	}

	.section-pi-attend {
		padding: 40px 0 60px 0;
	}

	.section-pi-attend svg {
		opacity: 1;
	}

	.testimonial-slide {
		max-width: 500px;
		min-height: 225px;
	}

	.testimonial-slide p {
		margin-bottom: 20px;
	}
	.gallery-image-slide img {
		height: auto;
		display: block;
		max-width: 100%;
		margin: 0 auto 5px auto;
	}

	/* COMMON COMPONENTS */
	.section-header {
		font-size: 26px;
		margin-bottom: 30px;
	}

	.section-header-sm{
		font-size: 22px;
	}

	/* PROGRAMME INNER PAGE */
	.programme-aim {
		padding: 40px 0 35px 0;
		background-size: 60px !important;
		background-position: 0 center !important;
	}

	.pi-aim-element-1{
		max-width: 40px;
	}

	.pi-aim-element-2{
		right: 2px;
		width: 40px;
	}

	 

	.section-learning-pedagogy {
		background-position: 0 40px !important;
	}

	.section-learning-pedagogy .programme-inner-rod {
		transform: translateX(0);
	}

	/* PROGRAMME INNER PAGE ENDS */

	/* LEARNING DISCIPLINE PAGE */
	.banner-shadow-content {
		width: 90%;
		max-width: 650px;
		margin-bottom: -50px;
		transform: translateY(-50px);
	}

	.section-learning-objectives {
		padding: 40px 0;
	}

	.section-learning-objectives .bg-triangle-right{
		max-width: 30px;
	}

	.section-programmes {
		padding: 40px 0 30px 0;
	}

	.section-learning-teams {
		padding: 35px 0 20px 0;
	}

	.learning-teams-element-1{
		max-width: 40px;
		left: 0;
	}

	.learning-teams-element-2{
		max-width: 40px;
		right: 0;
	}

	.resources-element-1{
		max-width: 200px;
		left: 30px;
	}

	.av-element-1,
	.blog-element-1,
	.campus-element-1,
	.newsletter-element-1,
	.people-element-1,
	.tmtc-slider-element-1,
	.journeys-element-1,
	.outreach-element-1,
	.about-partners-element-1,
	.about-intro-element-1,
	.research-element-1{
		max-width: 30px;
	}
	
	.section-outreach{
		padding-top: 40px;
	}

	.section-outreach .slick-dots{
		justify-content: center;
	}

	.section-outreach .section-header{
		transform: translate(0);
		margin-bottom: 45px;
	}

	.about-testimonial-element-1{
		left: 7.5%;
	}

	.gallery-image-slider.has-image-caption .gallery-image-slide{
		width: 80%;
	}

	.outreach-element-1{
		top: 55px;

	}


	.outreach-content-card{
		width: 110%;
		transform: translate(10%);
	}

	.campus-element-1{
		top: 0;
	}

	.people-element-1{
		top: 40px;
	}

	.our-history-banner{
		height: 400px;
	}

	.av-element-1{
		top: 42.5px;
	}
	.about-intro-element-1{
		top: 48px;
	}

	.section-newsletter{
		padding: 40px 0 20px 0;
	}

	.section-research{
		padding-bottom: 5px;
	}


	.about-director-element-1{
		top: -4px;
		max-width: 30px;
	}





	 
	/* LEARNING DISCIPLINE PAGE ENDS */

	.section-textual-banner {
		min-height: 375px;
	}

	/* TATA GROUP INDUCTION PAGE */
	.single-gi-speaker:nth-child(odd),
	.single-gi-speaker:nth-child(even) {
		height: 100%;
		margin-bottom: 0px;
		padding: 20px 20px 22.5px 20px;
	}

	.gi-speaker-image {
		margin-bottom: 15px;
	}

	.single-gi-speaker h5 {
		font-size: 20px;
	}
	.single-gi-speaker strong {
		font-size: 14px;
		margin: 8px 0 4px 0;
	}

	.single-gi-speaker p {
		margin: 0;
		font-size: 14px;
	}

	.section-episode-banner {
		text-align: center;
	}

	.section-textual-banner .textual-banner-logo {
		max-width: 75%;
	}

	/* TBEG INTERNAL PAGES */
	.section-tbeg-programme {
		padding: 40px 0 20px 0;
	}

	.tbeg-horizonal-programme-card {
		padding: 20px 20px 20px 100px;
	}

	.tbeg-horizonal-programme-card img {
		left: 27.5px;
		height: auto;
		max-width: 50px;
	}

	.horizontal-podcast-card {
		margin-right: 0;
		margin-left: auto;
		font-size: 14px;
		min-height: auto;
		width: calc(100% - 50px);
		padding: 20px 20px 20px 70px;
	}

	.horizontal-podcast-card img.inner-card-logo {
		max-width: 75%;
		margin-bottom: 10px;
	}

	.horizontal-podcast-card .circular-logo {
		max-width: 100px;
		height: auto;
	}

	.horizontal-podcast-card a.inner-card-link {
		width: 100%;
		margin-top: 15px;
	}
}