/* @media (min-width: 1400px) {
	.container {
		max-width: 1200px !important;
	}
} */



@media (max-width: 767px) {

	.tmtc-card-title span::after{
		opacity: 1;
		height: 8px;
		width: 8px;
	}

	.cta-slider-buttons-wrapper{
		flex-wrap: wrap;
	}

	.cta-slider-buttons-wrapper a{
		display: block;
		width: 100%;
		max-width: 100%;
	}

	.cta-small-slide img{
		max-width: 80vw;
		height: auto;
	}

	.cta-slider-buttons-wrapper a:nth-child(2){
		margin: 20px 0;
	}

	.learn-now-slider img{
		/* max-width: 225px; */
	}

	.tmtc-inner-section.flagshi-ins{
		padding-top: 90px;
	}

	.custom-solutions-element-1{
		top: -50px;
	}

	.leadership-element-1{
		top: -75px;
	}
	.cs-endorsements-slider .slick-next {
		right: 7.5px;
	}

	.cs-endorsements-slider .slick-prev {
		left: 7.5px;
	}

	.cs-approach-card span {
		font-size: 55px;
	}

	.approach-card-1-arrow,
	.approach-card-3-arrow {
		border-left: 50px solid #fff;
		border-top: 166.5px solid transparent;
		border-bottom: 166.5px solid transparent;
	}

	.approach-card-2-arrow,
	.approach-card-4-arrow {
		border-right: 50px solid #fff;
		border-top: 192.5px solid transparent;
		border-bottom: 192.5px solid transparent;
	}

	.cs-approach-card-1,
	.cs-approach-card-3 {
		padding: 20px 20px 20px 65px;
	}

	.cs-approach-card-2,
	.cs-approach-card-4 {
		padding: 20px 65px 20px 30px;
	}

	.section-tbeg-classroom {
		padding: 40px 0;
	}

	.tbeg-awards-slider {
		margin: 30px -15px 10px -15px;
	}

	.tbeg-classroom-element-1,
	.tbeg-capability-building-element-1 {
		position: static;
		max-width: 150px;
		height: auto;
		margin: 0 0 20px 15px;
	}
	/* SITE HEADER */
	.site-header-navigaton-list a {
		color: #020202;
	}

	.has-sub-child-menu .collapse.show {
		padding-top: 15px;
	}

	/* SITE FOOTER */
	.site-footer-content {
		padding: 45px 0 20px 0;
	}
	.footer-section-header {
		margin: 10px 0;
	}

	/* LEARNING DISCIPLINE PAGE */
	.section-resources {
		padding: 40px 0 50px 0;
	}

	.resources-element-1{
		top: 75px;
		left: 15px;
		max-width: 150px;
	}

	/* LEARNING DISCIPLINE PAGE ENDS */

	.page-navigation-list li a {
		font-size: 16px;
	}

	.banner-shadow-content {
		font-size: 16px;
		padding: 25px 20px;
		margin-bottom: -30px;
		transform: translateY(-30px);
		max-width: calc(100% - 50px) !important;
	}

	.tbeg-tabs-content-wrapper {
		background-position: 15px 90px !important;
	}

	.border-right-sm-0 {
		border-right: none !important;
	}

	.site-header {
		box-shadow: 0 2.5px 15px rgb(0 0 0 / 10%) !important;
	}

	.child-menu-list li {
		border-bottom: none;
	}

	.site-header-container {
		padding: 15px;
		max-width: 100% !important;
	}

	.site-header-navigation {
		display: none;
		width: 100%;
		height: 100vh;
		margin-top: 15px;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: calc(100vh - 90px);
		border-top: 1px solid #d3d3d3;
	}

	.site-header-navigaton-list,
	.site-header-navigaton-list li,
	.sub-child-menu-list,
	.sub-child-menu-list li,
	.child-menu-list a,
	.site-header-navigation.is-active {
		display: block;
	}

	.site-header-navigaton-list > li {
		border-bottom: 1px solid #d3d3d3;
	}

	.site-header-navigaton-list > li + a {
		padding: 20px 15px;
	}

	.logo-row {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.logo-row img {
		height: auto;
		max-width: 100px;
	}

	.btn-nav-toggler {
		display: flex;
	}

	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.mb-sm-0 {
		margin-bottom: 0 !important;
	}
	.mb-sm-30 {
		margin-bottom: 30px !important;
	}

	.section-header,
	.section-mint .section-header,
	.section-bluemint-approach .section-header {
		font-size: 22px;
		margin-bottom: 25px;
	}

	.section-hero {
		display: block;
		overflow: hidden;		
	}

	.section-hero header {
		font-size: 32px;
		line-height: 1.25;
	}
	

	.hero-content-cta a{
		padding: 11px;
		display: table;
		min-width: auto;
		width: calc(50% - 10px);
	}

	


	.hero-content-wrapper{
		padding: 70px 20px 20px 20px;
	}


	.hero-content-wrapper::after{
		height: 200px;
		top: calc(50% - 25px);
		transform: translateY(-50%);
	}



	.home-trending-slider {
		margin: 0 -15px;
	}

	.home-trending-slide{
		padding: 10px 15px 0 15px;
	}

	 
	.trending-slide-content {
		max-width: 100%;
		padding: 10px 0;
	}

	.section-events {
		padding: 40px 0 60px 0;
		background-size: 35%;
	}


	.tmtc-inner-leadership-animation {
		background: transparent;
	}

	.tmtc-inner-cs-animation {
		background-size: 35px;
		background-position: left 10px;
	}

	.learning-card-image {
		opacity: 1;
	}

	.section-partners{
		padding: 40px 0 35px 0;
	}

	.section-site-contact {
		padding: 40px 5px;
		padding-top: 40px;
	}

	.section-site-contact header {
		font-size: 28px;
		margin: 15px 0;
		line-height: 1.24;
	}

	.section-site-contact p.section-description {
		margin: 20px 0 25px 0;
	}

	.section-site-contact img {
		max-width: 75%;
	}

	.section-learn-now {
		padding: 40px 0 20px 0;
	}
	.single-learn-now-wrapper {
		padding: 0;
		margin: 0 0 50px 0;
	}

	.single-learn-now-header {
		font-size: 26px;
		margin-bottom: 25px;
	}

	.single-learn-now-wrapper .col-md-2 span {
		width: auto;
		display: table;
		margin: 0 0 15px 0;
	}

	/* LEARNING DISCIPLINE PAGE */
	.section-objectives,
	.section-team,
	.section-brief,
	.section-aim,
	.section-learning-outcome,
	.section-attend,
	.section-learning-themes,
	.section-learning-pedagogy,
	.section-faculty,
	.section-bluemint-aim,
	.section-bluemint-for,
	.section-bluemint-looking-for,
	.section-application-process {
		padding: 45px 0;
	}

	.programme-aim {
		background: #f7c869;
	}

	.section-mint {
		padding: 40px 0 30px 0;
	}

	.section-bluemint-aim {
		background: transparent;
		padding-bottom: 110px;
	}

	

	.section-bluemint-structure {
		padding: 68px 0 40px 0;
		background-position: left 20px;
	}

	.section-bluemint-approach {
		background-size: 30px;
		padding-top: 80px;
		background-position: left 30px;
	}

	.team-card-content {
		font-size: 16px;
		padding: 15px 20px;
	}
	.global-header-margin {
		margin-top: 70px;
	}

	.global-header-padding {
		padding-top: 70px;
	}

	/* .section-landing-banner,
	.section-landing-banner img {
		min-height: 150px;
	} */
	/* 
	.section-landing-banner {
		padding: 15px 0 60px 0;
	} */

	.section-landing-banner h1 {
		font-size: 26px;
	}

	.gallery-image-slide {
		padding: 7.5px 7.5px 0 7.5px;
	}

	.gallery-image-slide img {
		margin: 0;
		max-width: 100%;
	}

	/* BLUEMINT PAGE */

	.inline-icon-list {
		display: block;
	}

	.inline-icon-list li {
		display: flex;
		text-align: left;
		align-items: center;

		max-width: 100%;
	}

	.inline-icon-list li:not(:last-child) {
		padding: 0 0 40px 0;
	}

	li:not(:last-child) .inline-icon-list-image:after {
		top: 75%;
		width: 2px;
		height: 100%;
	}
	.inline-icon-list-content {
		padding: 0 0 0 20px;
	}

	.section-bluemint-faculty .col-6:nth-child(odd) {
		padding-right: 7.5px;
	}

	.section-bluemint-faculty .col-6:nth-child(even) {
		padding-left: 7.5px;
	}

	/* .shadow-card .shadow-card-header {
		font-size: 1;
	} */

	.shadow-card-content {
		font-size: 16px;
		padding: 20px;
	}

	.shadow-card.has-forward-icon::before {
		right: 22px;
	}

	.page-navigation-list li:not(:last-child) {
		margin: 8px 0;
	}

	.banner-grid-content {
		max-width: 375px;
		transform: translateY(-30px);
		padding: 25px 25px 25px 25px;
		grid-template-columns: 100%;
		margin: 0 auto -30px auto;
	}

	.site-header-navigaton-list a {
		padding: 17.5px 15px;
	}

	.child-menu-list {
		margin-top: 0;
		margin-bottom: 15px;
	}

	.child-menu-list a {
		padding: 12px 15px;
	}

	.child-menu-link {
		padding-left: 25px !important;
	}

	.child-menu-link + .collapse.show::after {
		top: -7.5px;
		content: "";
		width: 100%;
		height: 1px;
		display: block;
		position: relative;
		background-color: #d3d3d3;
	}

	.child-menu-container {
		position: static;
		box-shadow: none;
	}

	.has-child-menu::after {
		opacity: 1;
		right: 7.5px;
		left: auto;
		bottom: calc(50% - 5px);
		transform: rotate(-90deg);
		border-top: 10px solid #bfaa66;
	}

	.has-child-menu[aria-expanded="true"]::after {
		transform: rotate(0deg);
	}

	.child-menu-content {
		padding: 0 0 0 15px;
	}

	.sub-child-menu-link {
		width: 100%;
		padding: 12px 15px 12px 25px !important;
	}

	.sub-child-menu-list li,
	.sub-child-menu-list.child-menu-2-column li {
		width: 100%;
	}

	.horizontal-card-text,
	.horizontal-card-image {
		width: 30%;
		font-size: 16px;
	}

	.horizontal-learning-card-content {
		width: 70%;
		min-height: 80px;
		padding: 15px;
		font-size: 16px;
	}

	.section-learning-pedagogy {
		background-size: 35px;
	}

	.programme-inner-rod {
		bottom: 25px;
		right: 15px;
		transform: translateX(0);
	}

	.section-faculty .bg-triangle-right {
		max-width: 30px;
		top: 45px;
	}

	.section-faculty {
		background-size: 200px !important;
		background-position: 0 90px !important;
	}

	.programme-faculty-slider {
		margin: 0 -20px;
	}

	.vertical-card-header {
		font-size: 20px;
	}

	.vertical-card-content,
	.vertical-card-content strong {
		font-size: 16px;
	}

	.bg-mustard-rod-right {
		max-width: 40%;
		margin: 20px 5% 0px auto;
	}

	.section-highlights {
		background-size: 500px !important;
		background-position: 0px center !important;
	}

	.section-highlights .section-header {
		margin-bottom: 15px;
	}

	.section-highlights::after {
		right: 0;
		height: 100%;
		width: 35px;
	}

	.section-learning-objectives .bg-triangle-right {
		right: 0;
		max-width: 40px;
	}

	 

	.section-learning-teams {
		background: #fec856 !important;
	}

	.section-investment {
		text-align: center;
	}

	.investment-price-card {
		text-align: left;
		display: table;
		padding-left: 65px;
		margin: 0 auto 50px auto;
	}

	.investment-price-card::after {
		left: 0;
		bottom: 0;
		height: 2px;
		width: 100%;
		top: calc(100% + 25px);
	}

	.investment-price-card strong {
		top: 5px;
		margin-bottom: 10px;
	}

	.investment-price-card img {
		max-width: 60px;
	}

	.investment-content-wrapper time {
		display: block;
		margin-top: 10px;
	}

	.section-wellness-conversation {
		background-size: 125px;
		padding: 80px 0 15px 0;
	}

	.section-wellness-support {
		padding: 40px 0 100px 0;
	}

	.landing-banner-slider .slick-dots {
		position: static;
	}
	.landing-banner-slider.dots-dashed .slick-dots li.slick-active button {
		background-color: #404040 !important;
	}

	.ltc-purpose-card h5 {
		font-size: 16px !important;
	}

	.ltc-pages-navigation a {
		width: 175px;
		min-width: 175px;
	}

	.section-ltc-tabs,
	.section-tbeg-tabs {
		padding-top: 100px;
	}

	.ltc-tabs-content {
		padding: 20px 0 40px 0;
	}

	.awareness-kit-element-wrapper {
		padding: 0;
	}

	.ltc-best-practices-element,
	.ltc-model-policies-procedures-element {
		top: 0 !important;
		position: relative;
		margin-bottom: 15px;
		transform: translate(0);
	}

	.ltc-tabs-content .ltc-tabs-bars {
		right: 5px;
		bottom: 15px;
	}

	.section-download-ltc {
		text-align: center;
		background-size: 35px;
	}

	.section-download-ltc a {
		margin: 0 auto;
	}

	.annual-compliance-wrapper {
		padding: 15px 5px 15px 15px;
	}

	.green-connecting-list li {
		padding: 15px 15px 15px 60px;
	}

	.green-connecting-list.has-icon li img {
		left: -7.5px;
		max-width: 50px;
	}

	.green-connecting-list.has-icon li:not(:last-child)::after {
		height: 100%;
	}

	.ltc-tabs-content::before {
		background-size: 50%;
		background-position: right 97.5%;
	}

	.ethics-survey-wrapper {
		padding: 15px 30px 15px 10px;
	}

	.section-community-training {
		padding: 40px 0;
		background: none;
	}

	.section-awareness-kit {
		padding: 60px 0 40px 0;
		background-size: 30px;
		background-position: 0 20px;
	}

	.tec-bars {
		max-width: 45%;
		bottom: 15px;
		right: 15px;
	}

	.section-ethics-conclave {
		padding: 45px 0 80px 0;
	}

	.section-graphical-scribe {
		padding: 40px 0 20px 0;
		background-size: 30px;
		background-position: 0 50px;
	}

	.section-graphical-scribe.single-line-header {
		background-position: 0 35px;
	}

	.tec-card {
		max-width: calc(100% - 15px);
	}

	.tec-card strong {
		padding: 15px 17.5px;
	}

	.section-textual-banner,
	.section-textual-banner.has-content-card {
		min-height: 175px;
		padding: 45px 0 60px 0;
		border-bottom: 1px solid #d3d3d3;
	}

	.section-textual-banner h1 {
		font-size: 26px;
		letter-spacing: 0.25px;
	}

	.section-els-aims {
		padding: 45px 0 90px 0;
		background-size: 40%;
		background-position: 0 100%;
	}

	.section-els-outcomes {
		padding: 50px 0 30px 0;
		background-position: 0 43px;
		background-size: 40px !important;
	}

	.section-els-outcomes .section-header {
		text-align: center;
	}

	.section-els-objectives {
		padding: 40px 0 30px 0;
	}

	.home-list li p {
		top: -1px;
	}

	.section-els-attend {
		padding: 45px 0;
	}

	.section-els-experts {
		padding: 45px 0 130px 0;
		background-size: 160px;
	}

	.gallery-tabs {
		margin-bottom: 5px !important;
	}

	.section-els-gallery::after {
		height: 75px;
	}

	.section-exl-gallery,
	.section-els-gallery {
		padding: 40px 0 15px 0;
	}

	.section-exl-objective,
	.section-sls-objectives {
		padding: 40px 0;
	}

	

	.sls-objectives-element-2{
		max-width: 220px;
	}



	.section-exl-aims {
		padding: 40px 0 60px 0;
	}
	.exl-aims-element {
		display: none;
	}

	.section-sls-experts {
		padding: 40px 0 120px 0;
		background-size: 140px;
	}

	.section-exl-outcomes {
		padding: 40px 0;
		background-position: left 40px;
		background-size: 30px;
	}

	.section-exl-attend,
	.section-exl-experts,
	.section-sls-pedagogy {
		padding: 40px 0;
	}

	.section-els-learning-pedagogy .section-background-bars,
	.section-sls-pedagogy .section-background-bars {
		bottom: 30px;
	}

	.section-exl-pedagogy {
		background-size: 40px;
		background-position: left 30px !important;
	}

	.section-sls-pedagogy,
	.section-els-learning-pedagogy {
		background-size: 40px;
		background-size: 35px !important;
		background-position: left 30px !important;
	}

	.section-background-bars {
		bottom: 25px;
		max-width: 150px;
	}

	.section-sls-aims {
		padding: 40px 0 60px 0;
	}

	.section-sls-outcome,
	.section-sls-attend {
		padding: 40px 0 40px 0;
		background-position: left 40px;
		background-size: 30px;
	}

	.section-radio-listing {
		padding: 120px 7.5px 40px 7.5px;
		background-size: 30px;
		background-position: left 45px;
	}

	.section-episode-listing {
		padding: 40px 0;
	}

	.season-listing-navigation {
		margin-bottom: 40px !important;
	}

	.season-listing-navigation li button {
		font-size: 14px;
		padding: 10px 17.5px;
	}

	.section-episode-banner {
		margin-top: 90px;
		min-height: auto;
		text-align: center;
		width: calc(100% - 30px);
	}

	.episode-details-wrapper {
		font-size: 14px;
		padding: 20px 10px;
	}

	.current-episode-banner-name {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.episode-author {
		max-width: 80%;
		margin: 0 auto 20px auto;
	}

	.transcript-wrapper {
		width: calc(100% - 30px);
	}

	.btn-toggle-transcript {
		margin-top: 15px;
		margin-bottom: 45px;
	}

	.transcript-content-header {
		margin: 30px auto 15px auto;
	}

	.transcript-content-header {
		padding-left: 50px;
		font-size: 20px !important;
	}

	.transcript-content-wrapper {
		padding: 20px 15px 30px 50px;
	}

	.transcript-content-wrapper ul li span {
		left: -50px;
	}

	/* TATA GROUP INDUCTION PAGE */

	.section-gi-aim header,
	.section-gi-about header {
		text-align: center;
	}

	.section-gi-aim,
	.section-gi-outcomes {
		padding: 40px 0 30px 0;
	}

	.section-gi-speakers {
		padding: 40px 0 20px 0;
	}

	.single-gi-speaker {
		width: calc(100% - 20px);
	}

	.section-gi-speakers .section-bg-1 {
		top: 40px;
		max-width: 30px;
	}

	.section-gi-speakers .section-bg-2 {
		top: 175px;
		left: 10px;
		max-width: 150px;
	}

	.section-gi-speakers .section-bg-5,
	.section-gi-speakers .section-bg-3 {
		max-width: 25px;
	}

	.section-gi-speakers .section-bg-4 {
		top: 66%;
		right: 10px;
		height: auto;
		max-width: 150px;
	}

	.section-gi-speakers .section-bg-6 {
		left: 10px;
		height: auto;
		bottom: 30px;
		max-width: 150px;
	}

	.podcast-category-card {
		width: 100%;
	}

	/* ONEDERFUL WORLD PAGE */
	.section-ow-about {
		padding: 40px 0 25px 0;
	}

	.section-ow-tata {
		padding: 40px 0;
	}

	.section-ow-network .section-header {
		padding: 30px 0 15px 0;
	}

	.ow-films-slide {
		max-width: calc(100% - 30px);
	}

	.ow-slide-nav {
		margin-bottom: 15px;
		padding: 0 10px 10px 10px;
	}

	.ow-slide-nav img {
		height: auto;
		max-width: 100px;
	}

	.section-ow-gallery {
		font-size: 16px;
		margin-bottom: 20px;
		padding: 80px 0 40px 0;
	}

	.ow-gallery-top-arrow {
		height: auto;
		max-width: 135px;
	}

	.ow-galler-preview {
		margin: 10px 0 30px 0;
	}
	.ow-gallery-logo {
		top: 15px;
		right: 15px;
		height: auto;
		max-width: 100px;
	}

	.ow-gallery-bottom-arrow {
		max-width: 175px;
	}

	.section-cs-approach {
		overflow: hidden;
	}

	.fancybox__slide {
		padding-bottom: 50px;
	}

	/* CUSTOM SOLUTION PAGE*/

	.section-cs-companies {
		padding: 40px 0;
	}

	.section-recent-cs {
		background-size: 40px !important;
	}

	.recent-cs-modal {
		padding: 75px 20px 30px 40px !important;
	}

	.recent-cs-modal header {
		font-size: 18px;
	}

	.recent-cs-card-content {
		padding: 20px 15px 0 15px;
	}

	.recent-cs-card-content h6 {
		font-size: 16px;
	}

	.section-cs-stats {
		padding: 40px 0 20px 0;
	}

	.cs-stats {
		max-width: 700px;
		margin-bottom: 20px;
	}

	.cs-stats span {
		font-size: 42px;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.teia-1,
	.teia-2 {
		max-width: 35px;
	}

	.teia-2 {
		top: 60%;
	}

	#coachworks-tabs{
		margin-top: 30px;
	}

	.coachwork-section-header-lg {
		font-size: 34px;
	}
	
	#coachworks-tabsContent .cw-content-element{
		max-width: 50%;
	}

	#coachworks-tabsContent .tab-pane {
		padding: 25px 20px;
	}

	.coachwork-section-header-lg{
		font-size: 30px;
	}

	#coachworks-tabsContent .cw-content-element-2{
		right: 10px;
		max-width: 40%;
	}

	.cws-is-mustard {
		margin: 0 -20px;
		padding: 30px 20px 10px 20px;
	}

	.cws-inner-section{
		padding-top: 15px;
	}

	.cws-inner-section.cws-is-mustard{
		padding: 30px 20px 10px 20px;
	}

	/* PROGRAMME INNER PAGE */
	.section-pi-attend {
		padding: 40px 0 80px 0;
	}

	.pi-attend-element-1{
		right: 15px;
		bottom: 20px;
	}

	.section-learning-themes {
		background-position: 100% calc(100% - 40px);
	}

	.section-programme-team .section-header {
		padding-top: 40px;
	}

	.pi-learning-themes-element-1{
		bottom: 30px;
		right: 0px;
	}

	.pi-faculty-element-1{
		top: 82.5px;
		left: 5px;
		max-width: 150px;
	}

	.pi-aim-element-1,
	.pi-spotlight-element-1{
		display: none;
	}

	.pi-aim-element-2{
		right: 0;
		width: 25px;
	}

	.pi-spotlight-element-2{
		width: 45px;
	}
	/* PROGRAMME INNER PAGE ENDS */

	/* ABOUT PAGE */
	.director-player-wrapper{
		padding: 60px 20px 100px 20px !important;
	}

	.about-intro-card h5{
		margin-top: 20px;
	}

	.video-card-overlay-label{
		font-size: 14px;
		top: calc(50% + 30px);
	}

	.blog-modal{
		padding: 10px !important;
		width: calc(100% - 40px);
	}

	.blog-modal-info-wrapper{
		padding: 15px;
		margin-bottom: 0;
	}

	.blog-modal-content{
		width: calc(100% - 20px);
	}

	

	/* COLOR PALLET SETTINGS */
	.programme-aim.msc {
		background: #f7c869;
	}

	.programme-aim::after {
		width: 20px;
	}

	.section-learning-pedagogy {
		background-position: 0 37.5px !important;
	}

	.programme-faculty-slider .vertical-card {
		margin-bottom: 15px;
	}

	.tec-2018-2 {
		display: none;
	}

	.section-dc-aims{
		padding-bottom: 55px;
	}

	.dc-methodology-card-1 {
		margin: 0 0 40px auto;
		width: calc(100% - 30px);
		padding: 20px 15px 20px 60px;
	}

	.dc-methodology-card-2 {
		margin: 0 auto 0 0;
		width: calc(100% - 30px);
		padding: 20px 60px 20px 15px;
	}

	.dc-methodology-pointer-1 {
		max-width: 75px;
		transform: translate(-30px, calc(-50% - 0px));
	}

	.dc-methodology-pointer-2 {
		max-width: 90px;
		transform: translate(calc(100% - 50px), calc(-50% - -5px));
	}

	.dc-methodology-card-1-arrow {
		border-left: 50px solid #fff;
	}
	.dc-methodology-card-2-arrow {
		border-right: 50px solid #fff;
	}

	.upcoming-event-element-2{
			max-width: 150px;
	}

	.section-about-intro, 
	.section-purpose{
		padding: 40px 0 30px 0;
	}

	.section-tmtc-edge{
		padding-top: 40px;
	}

	.edge-element-2{
		display: table;
		position: static;
		margin-left: auto;
		max-width: 150px;
		margin-right: 20px;
		margin-bottom: 25px;
	}

	.partners-logo-grid{
		grid-gap: 25px;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.section-repo{
		padding: 40px 0;
	}

	.gallery-tabs .nav-link{
		margin: 5px 0;
	}

	.section-learners{
		padding: 40px 0 30px 0;
	}

	.gallery-image-slider.has-image-caption .gallery-image-slide{
		margin-bottom: 15px;
		width: calc(100% - 20px);
	}

	.gallery-image-caption{
		padding: 15px;
	}

	.outreach-content-card{
		width: 85%;
		margin: 0 auto;
		transform: translate(0, -35px);
	}

	.section-outreach{
		padding-bottom: 20px;
	}

	.community-outreach-slider .row{
		margin: 0;
	}

	.section-outreach .section-header{
		margin-bottom: 15px;
	}

	.community-outreach-slider .slick-track{
		padding-bottom: 0;
	}

	.section-outreach .slick-dots{
		display: flex;
	}

	
	.about-intro-card{
		padding: 20px 20px 25px 20px;
	}

}

@media (max-width: 576px) {

	.hero-center-content{
		padding-top: 50px;
	}

	.hero-bar-element{
		max-width: 75%;
	}

	.learning-arenas-element-1{
		left: 0px;
		top: 120px;
	}

	.section-tmtc-slider{
		padding-bottom: 50px;
	}

	.section-hero{
		background: url(../img/backgrounds/hero-banner-mobile-4.png) no-repeat center center
	}

	.section-hero a:not(.hero-learn-now){
		min-width: auto;
	}

	.tmtc-card-title{
		font-size: 15px;
		line-height: 1.25;
	}

	.section-banner-video{
		padding-top: calc(480 / 854 * 80%);
	}

	.about-testimonial-element-1{
		left: 0px;
		top: 100px;
		max-width: 120px;
	}

	.about-landing-banner{
		min-height: 175px;
	}

	.about-landing-banner img{
		min-height: 175px;
	}

	.video-card::before, 
	.gallery-video-card::before{
		height: 40px;
		width: 40px;
	}

	.our-history-slide{
		max-width: 325px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.our-history-slide span{
		left: 22.5px;
	}

	.carousel__button{
		width: 35px !important;
		height: 35px !important;
		border: 1px solid #cecece;
	}

	.carousel__button svg{
		width: 18px !important;
		height: 18px !important;
	}


	.section-related-episode .section-header {
		margin-bottom: 25px;
	}
	.rps-wrapper {
		padding: 20px 5px !important;
		max-width: 360px;
	}

	.slick-prev,
	.slick-next {
		top: calc(50% - 16px);
	}

	.slick-prev {
		left: 10px;
	}

	.slick-next {
		right: 10px;
	}

	.modal-dialog-custom .modal-body {
		padding: 30px 25px 30px 25px !important;
	}

	.section-header-underlined span {
		padding: 0 10px;
	}

	.ow-banner-slider.dots-dashed .slick-dots li button,
	.gallery-image-slider.dots-dashed .slick-dots li button{
		height: 4px;
		width: 20px;
	}

	.ow-banner-slider.dots-dashed .slick-dots li {
		margin: 0 5px;
	}

	.ll-filters-wrapper button,
	.custom-dropdown button {
		padding: 10px;
	}


}
